.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: white;

}

label{
  gap: 10px;
}
select {
  margin-left: 10px;
  background: burlywood;
  color: black;
}

button {
  margin: 20px;
  padding: 10px 20px;
  text-decoration: underline;
  font-size: 16px;
}

.greeting {
  font-size: 1.5em;
  color: green;
}

.error {
  font-size: 1.5em;
  color: red;
}
